{{define "organisations"}}
{{block "header" .}}
{{end}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Організації <a href="/organisations/add"><button type="button"
                        class="btn btn-primary">Додати</button></a></h1>
        </div>
    </div>
    {{if ne .StringMap.success nil }}
    <script>
        alert({{.StringMap.success}})
    </script>


    {{end}}
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Назва</th>
                        <th scope="col">Код</th>
                        <th scope="col">Перейти</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Data.orgs}}
                    <tr>
                        <th scope="row">{{.OrgId}}</th>
                        <td>{{.Title}}</td>
                        <td>{{.Code}}</td>
                        <td><button type="button" class="btn btn-light">Перейти</button></td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>


{{block "footer" .}}
{{end}}
{{end}}